//- data: {
//-   imgPath: Image,
//-   imgWidth: String,
//-   imgHeight: String,
//-   title: String,
//-   text: String,
//-   linkUrl: String,
//-   linkTitle: String,
//-   linkIcon: Boolean,
//- }

mixin info-card(data)
  if data.type == 'modal-trigger'
    div(data-modal-anchor= data.modal).lw-info-card
      if data.imgPath
        img(src= data.imgPath alt= data.title width="274" height="162")

      .lw-info-card__content
        if data.title
          span.lw-base-text.lw-text-bold!= data.title

        if data.text
          span.lw-smaller-text.lw-text-thin!= data.text

        if data.linkUrl
          span.lw-secondary-text.lw-info-card__more!= data.linkTitle
            svg(width="10" height="10")
              use(xlink:href="./assets/sprite.svg#icon-arrow")
  else
    a(href= data.linkUrl target="_blank").lw-info-card
      if data.imgPath
        img(src= data.imgPath alt= data.title width="274" height="162")

      .lw-info-card__content
        if data.title
          span.lw-base-text.lw-text-bold!= data.title

        if data.text
          span.lw-smaller-text.lw-text-thin!= data.text

        if data.linkUrl
          span.lw-secondary-text.lw-info-card__more!= data.linkTitle
            svg(width="10" height="10")
              use(xlink:href="./assets/sprite.svg#icon-arrow")

